<p>blog-component works!</p>
<!--Creating Custom Class and Style Directive-->
<div class="blog-container">
    <h1 class="blog-title">Plant Shop Blog</h1>
    <div class="blog-posts">
      <div *ngFor="let post of posts"  [temp-class]="{ 'blog-post-hide' : !compareDates(post.date), 'blog-post' : true   }">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-content" [temp-style]="{backgroundColor: '#edfbed', color:'#79a949' }">{{ post.content }}</p>
        <div class="post-footer">
          <span class="post-category">{{ post.category }}</span>
          <span class="post-date">{{ post.date}}</span>
        </div>
      </div>
    </div>
  </div>
  