<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend Mentor | FAQ Accordion</title>
</head>
<div id="card-header">
    <img src="./assets/images/icon-star.svg" alt="">
    <h1>FAQs</h1>
  </div>

<div class="card-item-description">
    <p>
        Frontend Mentor offers realistic coding challenges to help developers improve their 
        frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for 
        all levels and ideal for portfolio building.
    </p>
    </div>