
<div class="home-space">
        <div class="background-image">
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <div class="search-icon"></div>
            </div>

           
        </div>

</div>
<div class="home-subcontent">
    <section id="testimonial">
        <app-tm></app-tm>
    </section>
    <section id="contact" class="contact">
        <app-contact></app-contact>
    </section>
</div>
<!-- <button class="search-button" (click)="searchPlantsByName(searchValue)">Search</button> -->
