<!-- <p>user works!</p>
<div class="user-list">
    <h2>User List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Customer Type</th>
          <th>Subscription</th>
          <th>Start Date</th>
          <th>Expiry Date</th>
          <th>Subscription Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.emailId }}</td>
          <td>{{ user.customerType }}</td>
          <td>{{ user.subscription ? 'Active' : 'Inactive' }}</td>
          <td>{{ user.startDate | date:'longDate' }}</td>
          <td>{{ user.endDate | date:'longDate' }}</td>
          <td>{{ user.subscriptionType }}</td>
        </tr>
      </tbody>
    </table>
</div> -->


<div class="user-profile-container" *ngIf="selectedUser">
  
      <div>
      <img class="user-image" src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="user logo" width="260px" height="200px">
      </div>
      <div class="user-detail-info">
        <h2>User Detail</h2>
        <p><b>User :</b> {{selectedUser.userName}}</p>
        <p><b>Email Id :</b> {{selectedUser.emailId}}</p>
        <p><b>customerType :</b> {{selectedUser.customerType}}</p>
        <p><b>Subscription Status :</b> {{selectedUser.subscription}}</p>
        <p><b>subscriptionType :</b> {{selectedUser.subscriptionType}}</p>
      </div>
  
</div>