/* .user-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    
  }
    .user-create{
      padding: 20px;
      align-items: center;    
  
    }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
   */
   .user-profile-container{
    margin: 10px 50px;
    width: 90%;
    padding: 20px 500px;
    display: flex;
   }

   .user-image{
    align-items: center;
    width: 300px;
    height: 240px;
    border-radius: 50%;
    margin: 40px auto;
  }
.user-detail-avatar-image{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 20px auto;
}
.user-detail-info{
  align-items: center;
    margin: 20px 50px;
    padding: 30px 20px;
}
