<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<div class="card" *ngIf="selectedUser">
  <div class="card-body p-md-5 ">
    
    <div class="d-flex flex-column gap-2">
      
      <div class="d-flex flex-row gap-2">
        <!--img-->
        <div class="mt-n8">
          <img class="gradient-background rounded-top-3" style="height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoHIA0cB4zks9zjyvc4HBBAMf3EYKfd8MHMw&s" alt="mentor 1" class="img-fluid rounded-4 mt-n8">
        </div>
        <div class="d-flex flex-column gap-2">
          <div class="d-flex flex-md-row flex-column justify-content-between gap-2">
            <!--heading-->
            <div>
              <h1 class="mb-0">{{selectedUser.userName}} </h1> <span><small>{{selectedUser.customerType}}</small></span>
              <!--content-->
              <div class="d-flex flex-lg-row flex-column gap-2">
                <small class="fw-medium text-gray-800">{{selectedUser.emailId}}</small>
              </div>
            </div>          
          </div>
          <div class="d-flex flex-md-row flex-column gap-md-4 gap-2">            
            <div class="d-flex flex-row gap-2 align-items-center lh-1">
              <!--icon-->
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-geo-alt-fill text-danger" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"></path>
                </svg>
              </span>
              <!--text-->
              <span>{{memberShipData?.location}}</span>
            </div>

          </div> 
          <div>              
          <span class="badge rounded-pill bg-primary" *ngFor="let item of memberShipData?.preferredType">{{item}}</span>                                   
          </div>
        </div>              
      </div>


      <div class="d-flex flex-md-column flex-column gap-md-4 gap-2" *ngIf="isMember">   
        <h6>MemberShip Details</h6>       
        <div>
            <div class="d-flex flex-row gap-2 align-items-center lh-1">
              <!--icon-->
               <!-- Button -->                           
              <span class="avatar avatar-lg">
                <img src="/assets/CommunityGardernPic.png" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0" title="Garden Community Member">
              </span>
              <small>Garden Community Member</small>
             <button *ngIf="!updateForm"  (click)="UpdateCommunityMember()" class="btn btn-primary" > <svg  title="Edit" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
              </svg> Edit</button>
            </div>                        
        </div>  
      </div>     
      
      <div *ngIf="updateForm"  class="overlay" id="overlay">
        <div class="popup">
          <div class="d-flex justify-content-end ">
            <button type="button " (click)="UpdateCommunityMember()" class="btn-close bg-dark text-light" aria-label="Close"></button>
          </div>
          <div class="popup-content">
            <app-form-exercise [editMode]="true" [selectedUser]="memberShipData"></app-form-exercise>
          </div>
          </div>
      </div>
  
      <div class="d-flex flex-column flex-md-column gap-4">
        <h6>Preference List</h6>
        <div class="list-group">
          <div *ngFor="let items of userPrefList">
            <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img [src]="items.plant.imgUrl" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">{{items.plant.name}}</h6>
                <p class="mb-0 opacity-75">{{items.plant.description}}</p>
              </div>
              <small class="opacity-50 text-nowrap"></small>
            </div>
            <i class="fas fa-save save-icon" title="Save" (click)="SaveUserPreference(items.plant)" [ngStyle]="{'color' : CheckIsPrefered(items.plant) ? 'green' : 'black'}"></i>
            <svg  (click)="ViewPlantInfo(items.plant.id)" title="View Details" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
            </svg>
          </a>
        
         </div>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
<!-- user profile V1 -->
<!-- <div class="user">
<div class="user-profile-container" *ngIf="selectedUser">
  
      <div>
      <img class="user-image" src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="user logo" width="260px" height="200px">
      </div>
      <div class="user-detail-info">
        <h2>User Detail</h2>
        <p><b>User :</b> {{selectedUser.userName}}</p>
        <p><b>Email Id :</b> {{selectedUser.emailId}}</p>
        <p><b>customerType :</b> {{selectedUser.customerType}}</p>
        <p><b>Subscription Status :</b> {{selectedUser.subscription}}</p>
        <p><b>subscriptionType :</b> {{selectedUser.subscriptionType}}</p>
      </div>
      
  </div>
</div> -->
