<p>products works!</p>
<div>
    <!--Structural Attribute-->
    <!--*ngFor-->
    <ul>
        <li *ngFor="let item of products; let i = index">
            <!--Attribute Directive [ngStyle]-->
           <span [ngStyle]="{'background-color': item.available === true ? 'green' : 'red'}"> {{item.productName}} </span>
        </li>
    </ul>
    <!--*ngIf-->
    <p>The products are Available</p>
    <div *ngIf="showMessage">
        {{message}}
        <button (click)="showMessage =! showMessage">
            Toggle Message
        </button>
    </div>
    <!--Property Binding-->
    <img src="{{imageUrl}}"/>
    <!--CSS Class Binding-->
    <br>
    <button class="btn btn-primary" [class.disabled]= "isValid" (click)="OnClickEvent($event)">Submit</button>
</div>