:host {
    display: block;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Additional styles */

.btn.disabled {
    background-color: #d6d6d6; /* Light grey background */
    border-color: #b3b3b3; /* Grey border */
    color: #8c8c8c; /* Grey text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.ghContainer{
    background-color: plum;
}

.inputSearch{
    width: 400px;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
