<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Document</title>
  <style>
    main{
      font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    }
  </style>
</head>
<body>
  <main class="main">
    
    <h1>{{title}}</h1>
    
    <!-- <div class="theme-toggle">
      <label class="toggle">
        <input type="checkbox" (change)="toggleTheme()" [checked]="isDarkTheme" />
        <span class="slider"></span>
      </label>
      <span>{{ isDarkTheme ? 'Dark Mode' : 'Light Mode' }}</span>
    </div> -->
    

    <!-- <app-products></app-products>  -->
   
    <!-- <rating></rating>
    <app-eform></app-eform> -->
     <!-- <app-login></app-login> -->
     <app-exercise [updatecartList]="cartItemsFromApp" (totalCartItems)="sendDataToCart($event)" #exerciseComponent></app-exercise>
     <app-plant *ngIf="exerciseComponent.selectedPlant"   [exePlantComp]="exerciseComp"></app-plant>
     <app-cart [cartItems]="cartItemsFromApp" (changeCartData)="RemoveCartItems($event)" ></app-cart>
     <app-eform></app-eform>

      <!-- <app-blog-component></app-blog-component> -->
    </main>
</body>
</html>
<router-outlet />
