<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
  <style>
    main{
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
  </style>
</head>
<body>
  <main class="main">
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div *ngIf="isLoading">
  <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div> -->
<!-- <div *ngIf="isLoading" class="overlay">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->

 <!-- margin -->
<div class="overlay" *ngIf="isLoading" >
<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
</div>
</div>

<app-footer></app-footer>

    <!-- <div class="theme-toggle">
      <label class="toggle">
        <input type="checkbox" (change)="toggleTheme()" [checked]="isDarkTheme" />
        <span class="slider"></span>
      </label>
      <span>{{ isDarkTheme ? 'Dark Mode' : 'Light Mode' }}</span>
    </div> -->
    <!-- <app-products></app-products>  -->
   
    <!-- <app-new-task></app-new-task>
    <app-show-task></app-show-task> -->
    <!-- <rating></rating>
    <app-eform></app-eform> -->
     <!-- <app-login></app-login> -->

     <!-- <app-exercise [updatecartList]="cartItemsFromApp" (totalCartItems)="sendDataToCart($event)" #exerciseComponent></app-exercise>
     <app-plant *ngIf="exerciseComponent.selectedPlant"   [exePlantComp]="exerciseComp"></app-plant>
     <app-cart [cartItems]="cartItemsFromApp" (changeCartData)="RemoveCartItems($event)" ></app-cart>

     
     <app-eform></app-eform>
    <app-admin></app-admin>
    <app-user></app-user> -->
      <!-- <app-blog-component></app-blog-component> -->
    </main>
</body>
</html>

