/* :root{
    --color1: hsi(30, 54%, 6%);
    --color2: hsi(80, 54%, 6%);
}

*{
    background-color: linear-gradient(to-right, --color1, --color2);
} */



/* Full-screen overlay */
.overlay {
    position: fixed;         /* Fixed position to cover entire screen */
    top: 0;
    left: 0;
    width: 100%;             /* Full width */
    height: 100%;            /* Full height */
    background-color: rgba(255, 255, 255, 0.7); /* White with 70% opacity */
    display: flex;           /* Flexbox to center the spinner */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    z-index: 9999;           /* Ensure it's on top of other content */
  }
  
  /* Increase the size of the spinner 
  .spinner-border {
    width: 5rem; 
    height: 5rem;
    border-width: 0.5rem; 
  }
    */
  
  